<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>


{{#each comment as |comment| }}
{{!-- text from comment --}}
<h3>{{text}}</h3>
